 
/****** Object:  Table [dbo].[funcionarios]    Script Date: 07/08/2020 19:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarios](
	[NOME] [varchar](7) NULL,
	[SOBRENOME] [varchar](9) NULL,
	[EMAIL] [varchar](28) NULL,
	[MATRICULA] [smallint] PRIMARY KEY,
	[SALARIO] [real] NULL,
	[BONUS] [smallint] NULL,
	[CARGO] [varchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[funcionarios] ([NOME], [SOBRENOME], [EMAIL], [MATRICULA], [SALARIO], [BONUS], [CARGO]) VALUES (N'Gilmar', N'Santos', N'GilmarSantos@grupo.com.br', 1010, 3000, 140, N'Consultor Comercial')
INSERT [dbo].[funcionarios] ([NOME], [SOBRENOME], [EMAIL], [MATRICULA], [SALARIO], [BONUS], [CARGO]) VALUES (N'Felipe', N'Silva', N'FelipeSilva@grupo.com.br', 1011, 3000, 140, N'Tecnico de Xerox')
INSERT [dbo].[funcionarios] ([NOME], [SOBRENOME], [EMAIL], [MATRICULA], [SALARIO], [BONUS], [CARGO]) VALUES (N'Nestor', N'Fernandes', N'NestorFernandes@grupo.com.br', 1012, 3000, 140, N'Sapateiro ')
GO
